<p-card
    [style]="{width: '960px', margin: '128px auto 12px auto', padding: '0 64px', borderRadius: '24px', border: '1px solid var(--surface-border)'}">
    <app-step-bar></app-step-bar>
</p-card>
<p-card
    [style]="{width: '960px', margin: '12px auto 128px auto', padding: '24px 64px', borderRadius: '24px', border: '1px solid var(--surface-border)'}">
    <div>
        <router-outlet></router-outlet>
    </div>
    <!-- <app-register-step-buttons-bar></app-register-step-buttons-bar> -->
</p-card>