.profile {

    display: flex;
    gap: 24px;
    margin: 64px 0 12px 0;
    align-items: center;

    &__picture {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    &__name {
        margin: 0;
    }

    &__mail {
        color: white;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}